.left {
  display: inline-block;
  width: 33.3%;
  height: 1000px;
  background: red;
  float: left;
}
.middle{
  display: inline-block;
  width: 33.3%;
  height: 1000px;
  background: green;
  float: left;
}
.right{
  display: inline-block;
  width: 33.3%;
  position: absolute;
  height: 1000px;
  background: blue;
  float: left;
}
img {
  position: absolute;
  bottom: 0;
}
