<!DOCTYPE html>
<html ng-app="store">
   <head>
      <meta charset="utf-8">
      <title>Fake Store</title>
   </head>
   <body ng-controller="mainCtrl">

      <div ng-repeat="product in products" ng-click="select(product)">
         Name: {{product.Title}}
            <br>
               Description:   {{product.Description}}--{{product.Price}}
                  <br>
                     <button ng-click="addCart(product.Title, product.Description, product.Price)">Add2Cart</button>
                  <br>
      </div>
   <hr/>
      Choping Cart Esse!
   <br>
      <div ng-repeat="product in cart track by $index">
         {{product}}<br>
      </div>
   <hr/>
      <h1>
         ADMIN SECRETS! SHHHHHH ;P
      </h1>
   <hr/>
      Edit Product's
   <br>
         <input ng-model="productTitle" placeholder="Product name...."></input>
         <input ng-model="productDescription" placeholder="Description..."></input>
         <input type="number" ng-model="productPrice" placeholder="Price..."></input>
         <button ng-click="addProduct(productTitle, productDescription, productPrice)">add</button>
<br>
         <input ng-model="selected.Title" placeholder="Product name...."></input>
         <input ng-model="selected.Description" placeholder="Description..."></input>
         <input type="number" ng-model="selected.Price" placeholder="Price..."></input>
         <button ng-click="updateProduct(selected)">update</button>
   <hr/>

   <hr/>
      Delete product
         <input ng-model="productID"></input>
         <button ng-click="delProduct(productID)">delete</button>
   <hr/>

      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
      <script src="js/app.js"></script>
      <script src="js/mainCtrl.js"></script>
      <script src="js/service.js"></script>
   </body>
</html>
