<!DOCTYPE html>
<html ng-app="pokemon">
   <head >
      <meta charset="utf-8">
      <title></title>
   </head>
   <body ng-controller="control">
   <form>
      <input type="text" ng-model="pokePicker" placeholder="enter an number...">
      <button ng-click="getPoke()">submit</button>
   </form>
<!-- {{text}} -->
{{poke.name}}<br>
<img src="{{poke.sprites.front_default}}" />
<img src="{{poke.sprites.back_default}}" />


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
<script src="app.js"></script>
<script src="control.js"></script>
<script src="service.js"></script>

   </body>
</html>
